/* line 5, ../../compass/sass/styles.scss */
html {
  background-color: ghostwhite;
}

/* line 10, ../../compass/sass/styles.scss */
.side-nav-bar {
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #F4F5FE;
  overflow: hidden;
  padding-top: 16vh;
}
/* line 19, ../../compass/sass/styles.scss */
.side-nav-bar .nav-bar-link {
  margin-top: 4vh;
  display: block;
  text-align: center;
  font-weight: 200;
  font-size: 3vw;
  color: #337ab7;
}
/* line 31, ../../compass/sass/styles.scss */
.side-nav-bar .nav-bar-link:hover {
  color: #62C370;
  text-decoration: none;
}

/* line 39, ../../compass/sass/styles.scss */
.nav-bar-link.active-link {
  color: #62C370;
  text-decoration: none;
}

/* line 47, ../../compass/sass/styles.scss */
.beast-text {
  font-weight: 800;
  font-size: 5vh;
  color: black;
}

/* line 56, ../../compass/sass/styles.scss */
.mid-and-center {
  text-align: center;
  margin-top: 27vh;
  margin: auto;
  opacity: 1;
}

/* line 64, ../../compass/sass/styles.scss */
.full-view-height {
  height: 100vh;
}

/* line 68, ../../compass/sass/styles.scss */
.background-image {
  background-image: url("../../public/Images/green-nature-image.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: .7;
  display: flex;
  background-size: cover;
}

/* line 87, ../../compass/sass/styles.scss */
.col-xs-3.padding-none {
  padding: 0px;
}

/* line 91, ../../compass/sass/styles.scss */
.col-xs-9.padding-none {
  padding: 0px;
}

/* line 100, ../../compass/sass/styles.scss */
.about-photo {
  border-radius: 20%;
  height: 15.2vh;
}

/* line 105, ../../compass/sass/styles.scss */
.margin-above {
  margin-top: 4vh;
}

/* line 111, ../../compass/sass/styles.scss */
th, td {
  padding-left: 1.5vw !important;
  padding-right: 1.5vw !important;
  text-align: center;
}

/* line 118, ../../compass/sass/styles.scss */
th {
  border-bottom: solid grey .3vw;
}

/* line 128, ../../compass/sass/styles.scss */
.quote-text {
  font-size: 4.2vh !important;
}

/* line 133, ../../compass/sass/styles.scss */
.cursive-font, .quote-text {
  font-family: cursive;
  font-weight: 700;
  font-size: 3.5vh;
  text-align: center;
}

/* line 140, ../../compass/sass/styles.scss */
.light-blue-column {
  background-color: #337ab7;
  height: 100vh;
  opacity: .7;
  border-radius: 9vh;
}

/* line 149, ../../compass/sass/styles.scss */
.light-green-column {
  background-color: #62C370;
  height: 100vh;
  opacity: .7;
  border-radius: 9vh;
}

/* line 157, ../../compass/sass/styles.scss */
.padding-none {
  padding: 0px;
}

/* line 161, ../../compass/sass/styles.scss */
.center-text {
  text-align: center;
}

/* line 165, ../../compass/sass/styles.scss */
.align-left {
  text-align: left;
}

/* line 170, ../../compass/sass/styles.scss */
.data-entry {
  font-size: 1.8vh;
}

/* line 180, ../../compass/sass/styles.scss */
.impact-font {
  font-family: impact;
  font-size: 2.4vh;
  text-align: center;
}

/* line 187, ../../compass/sass/styles.scss */
.row.kill-margin {
  margin-right: 0px;
  margin-left: 0px;
}
